.jumbotron {
    background-image: url(../images/background.jpg);
    background-color: #223345;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.meal-image {
    height: 150px;
    margin: 7px;
}

.card {
    margin: 10px;
}